<% id = SecureRandom.uuid %>
<span id='<%= id %>'></span>
<script type="text/javascript">
  $(function() {
    var day = moment.unix(<%= val.to_i %> + 60 * (<%= FIXED_TIMEZONE_OFFSET %> - moment().utcOffset()));
    $('#<%= id %>').html(day.format("DD/MM/YYYY HH:mm"));
  });
</script>